body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #36CFFF, #FFFFFF);
}
/* Mengatur padding pada container */
.container{
    margin-top:100px;
}
.row{
  padding-top: 100px;
  padding-left: 200px;
}
.counter-box {
    border-radius: 20px;
	display: block;
	background: #f6f6f6;
	padding: 40px 20px 37px;
	text-align: center
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: black;
	font-size: 15px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: black;
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: black;
	line-height: 28px
}

.counter-box.card-1 {
      background: #5344A9;
}
.counter-box.card-2 {
      background: #280659;
}
.counter-box.card-3 {
      background: #341671;
}
.counter-box.card-4 {
      background: #422680;
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
	color: #fff
}

/* Gaya untuk tabel */
.table {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

/* Gaya untuk header tabel */
.table thead th {
  background-color: #5264AE;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Gaya untuk baris tabel */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Gaya untuk tombol 'Detail' */
.btn-primary {
  background-color: #5264AE;
  border-color: #5264AE;
}

/* Gaya untuk tombol 'Detail' saat dihover */
.btn-primary:hover {
  background-color: #3d4e91;
  border-color: #3d4e91;
}

/* Gaya untuk link 'Show All' */
a {
  color: #5264AE;
  text-decoration: none;
}

/* Mengatur margin antara baris pada tabel */
.table tr {
  margin-bottom: 10px;
}
.text-center.rounded.p-4.bungkus{
  background: #5344A9;
}
.text-center.rounded.p-4.bungkus h4{
  color: #FFFFFF;
}